## PRACTICE: EXPLORING LAMBDA FUNCTIONS IN PYTHON
A lambda function is a small anonymous function in Python. It can take any number of
arguments but can only contain one expression. These functions are often used for quick, simple
tasks, especially when passing a function as an argument to higher-order functions.

### Examples
review the following examples to understand the use of lamdba functions

In [1]:
## Adding 10 to a number

x= lambda a: a+10
print(x(5)) #output is 15

15

In [2]:
##Multiplying 2 numbers

x= lambda a, b: a*b
print(x(5,3)) #output :15

15

In [3]:
## Finding max of 2 numbers

x = lambda a, b: a if a > b else b
print(x(5, 6)) # Output: 6

6

In [4]:
## Using lambda inside a function

def myfunc(n):
 return lambda a: a * n
mydoubler = myfunc(2)
print(mydoubler(11)) # Output: 22

22

In [5]:
## sorting a list of dictionaries

employees = [
 {'Name': 'Alan Turing', 'age': 25, 'salary': 10000},
 {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000},
 {'Name': 'John Hopkins', 'age': 18, 'salary': 1000},
 {'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000},
]
employees.sort(key=lambda x: x.get('Name'))
print(employees)

[{'Name': 'Alan Turing', 'age': 25, 'salary': 10000}, {'Name': 'John Hopkins', 'age': 18, 'salary': 1000}, {'Name': 'Mikhail Tal', 'age': 40, 'salary': 15000}, {'Name': 'Sharon Lin', 'age': 30, 'salary': 8000}]

## Exercises

### 1) Write a lambda function that takes 2 arguments and returrns teh divsion of the first 
argument by the second.
Exampl :
Input: 10, 2
Output: 5

In [9]:
x = lambda a, b: a/b
print(x(10,2)) #output 5.0

5.0

### 2) Write a lambda function that takes one argument and simply returns it.
Example 
Input: 5
Output: 5

In [11]:
x= lambda a: a
print(x(1)) #output 1

1

### 3)Write a lambda function that takes a string as input, replaces all commas (,) with semicolons 
(;), and returns the modified strin
Example:
Input: "apple,orange,banana"
Output: "apple;orange;banan"g

In [12]:
replace_commas = lambda s: s.replace(',',';')

input= "apple,orange,banana"
output = replace_commas(input)

print(output)

apple;orange;banana

### 4) Write a lambda function that takes an array as input and returns the number of elements in the 
array.
Example:
Input: [1, 2, 3, 4]
Outpu: 4

In [14]:
array_counter= lambda arr: len(arr)

input=[1,2,3,4]
output= array_counter(input)
print(output)

4

### 5) Write a lambda function that takes a list of numbers and returns the sum of all elements in the 
list.
Example:
Input: [1, 2, 3, 4]
Output: 10

In [21]:
sum_elements = lambda arr: arr[0] + sum_elements(arr[1:]) if arr else 0

# Example usage
input_list = [1, 2, 3, 4]
output = sum_elements(input_list)
print(output)

10

### 6) Write a lambda function that takes a single number and returns True if the number is even, 
otherwise False.
Example:
Input: 4
Output: True

In [22]:
even_odd = lambda a: a % 2 == 0

print(even_odd(4))
print(even_odd(5))

True
False

### 7) Write a lambda function that takes a tuple of size 3 as input and returns a new tuple containing 
the first element of the input tuple and the number 1.
Example:
Input: (1, 2.5, 3.6)
Output: (1, 1)

In [23]:
tuple_example = lambda t: (t[0], 1)
input_tuple = (1, 2.5, 3.6)
output_tuple = tuple_example(input_tuple)
print(output_tuple)

(1, 1)